@font-face {
	font-family: Play;
	src: url('./font/Play-Regular.ttf');
}

body {
	background-color: #0d0d0d;
	color: #106000;
	font-family: Play;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.map {
	opacity: 50%;
	width: 1160px;
	height: 500px;
	margin: 15px auto;
	padding: 5px;
	border: 1px solid #2dbd00;
}

table {
	font-size: 12px;
	border-spacing: 0px;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

td {
	border: 1px #0d130c solid;
	padding: 5px;
	text-align: center;
}

input, button, select {
	font-size: 12px;
	border-radius: 5px;
	border: 1px solid #106000;
	margin: 2px;
	padding: 5px 5px 5px 5px;
	background-color: #28ff0014 !important;
	color: #2dbd00;
	font-family: Play;
	text-align: center;
	height: 25px;
}

input:disabled {
	color: #106000;
}

button:hover {
	border: 1px solid #2dbd00;
	cursor: pointer;
}

.border {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

.hasDatepicker {
	width: 125px;
}

#lat, #long {
	width: 95px;
}

.otstup {
	padding: 4px;
	padding-bottom: 6px;
}

.current-weather {
	text-align: left !important;
}

.forecasts {
	margin-top: 0px;
	width: 1000px;
	margin: 0 auto;
	overflow-y: scroll;
	height: 350px;
}

.higlited {
	color: #2dbd00;
}

.api {
	text-align: left;
	border: 1px solid;
	padding: 5px;
	margin: 5px;
	width: 370px;
	display: inline-grid;
}

.p_head {
	border: 1px solid #106000;
	padding: 5px;
	background-color: #26ff0005;
	font-size: 15px;
	font-weight: bold;
	color: #257118;
	margin-bottom: 10px;
	text-align: center;
}

.p_body {
	text-align: left;
	width: 100%;
	display: table;
}

.p_body .content_row {
	
}

.content_description {
	display: block;
}

.p_body .content_description {
	color: #2dbd00;
	border-bottom: 1px solid #2dbd00;
	padding: 0px;
	margin: 0px 0px 10px 5px;
	display: table;
}

.p_body .content_description:before {
	content: " # ";
}

.panel {
	border: 1px solid #106000;
	padding: 5px;
	margin: 5px auto;
	width: 1160px;
}

.panel .panel {
	border: 1px solid #106000;
	padding: 5px;
	margin: 5px auto;
	width: 98%;
}

.panel .content_description {
	color: #2dbd00;
	padding: 0px;
	margin: 0px 0px 10px 5px;
	text-align: left;
}

.panel .content_description:before {
	content: "/* ";
}

.panel .content_description:after {
	content: " */ ";
}

span.dark {
	color: #106000;
}

a {
	color: #2dbd00;
	text-decoration: none;
	border-bottom: 1px dotted #106000;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	padding: 10px 0;
	vertical-align: middle;
	height: 14px;
	cursor: pointer;
}

[type="checkbox"]+label:before {
	content: " ";
	display: inline-block;
	margin: 0px 5px 0px 15px;
	text-align: center;
	text-indent: 0px;
	width: 17px;
	height: 17px;
	background: #FFF;
	border-image: initial;
	vertical-align: middle;
	border: 1px solid #106000;
	background-color: #28ff0014;
}

input:checked+label:before {
	/* глифон - галочка */
	content: "X";
	color: #2dbd00;
}

input:checked+label {
	color: #2dbd00;
}

input:disabled+label:before {
	background: #eee;
	color: #aaa;
}

.tabbed {
	margin-left: 15px;
}

.column {
	float: left;
	width: 25%;
}
.center{
	text-align: center;
}